// Parameters for indexing the amplicon sequences
// Project
project="Control_23032018_TME"
// where to place the project
projectp="Miseq/Wenja"
// the coordinates in the tsv file in which reference genome version
build_name="hg19"
// Name of the panel
panel_name="TME_pan12"
// the length of extension in both direction to amplicon sequences
add=200
// The path to amplicon sequecence coordinate in hg18/hg19/hg38
// #chromA  startA     endA       nameA    primerA     
// chr1     23882888   23882928   ID3      P1_ID3      
// chr1     24469272   24469325   IL22RA1  P2_IL22RA1  
inAmp="Miseq/Wenja/Control_23032018_TME/config/TME_pan12.tsv"
// where to place the index of amplicons sequences
REF="Miseq/Wenja/Control_23032018_TME/ref/"

//////////////////////////////////////////////////
// Paramenters for alignment, DNA methylation and pattern calling
// Single or paired End
isSingleEnd="1"
// Remove unconverted CpG
REMOVE_UNCONVERTED="1"
// remove read if the read has at least 3 unconverted C
NUMBER_C="3"
// Temp directory for Picardtools
TMP_DIR="WGBS/WGBS10X_luu/working_temp"

