// Paramenters for indexing the amplicon sequences
// Project
project="<project_name>"
// where to place the project
projectp="/path/to/upstream/analysis/<user>"
// the coordinates in the tsv file in which reference genome version
build_name="hg19"
// Name of the panel
panel_name="amplicons"
// the length of extension in both direction to amplicon sequences
add=200
// The path to amplicon sequecence coordinate in hg18/hg19/hg38
inAmp="/path/to/upstream/analysis/<user>/<project_name>/config/amplicons.tsv"
// where to place the index of amplicons sequences
REF="/path/to/upstream/analysis/<user>/<project_name>/ref/"

//////////////////////////////////////////////////
// Paramenters for alignment, DNA methylation and pattern calling
// Single or paired End
isSingleEnd="1"
// Remove unconverted CpG
REMOVE_UNCONVERTED="1"
// remove read if the read has at least 3 unconverted C
NUMBER_C="3"
// remove CpG with least then coverage
COVERAGE="100"
// Temp directory for Picardtools
TMP_DIR="/path/to/working_temp"

