executor="pbspro"
procs="2"
memory="4"
project="lv15"
walltime="10:00:00"
queue="normal"
// https://github.com/ssadedin/bpipe/blob/master/src/main/groovy/bpipe/Concurrency.groovy
max_per_command_threads=16
// https://github.com/ssadedin/bpipe/blob/master/src/main/groovy/bpipe/Config.groovy
maxThreads=80
maxProcs=160
// https://github.com/ssadedin/bpipe/blob/master/src/main/groovy/bpipe/OutputDirectoryWatcher.groovy
usePollerFileWatcher="true"

commands {
	// indexing
	indexing {
		executor="pbspro"
		procs="1"
		memory="8"
		project="lv15"
		walltime="5:00:00"
		queue="copyq"
	}
	// trim
	trim_galore {
		executor="pbspro"
		procs="2"
		memory="4"
		project="lv15"
		walltime="10:00:00"
		queue="normal"
	}
	alignment {
		executor="pbspro"
		procs="8"
		memory="16"
		project="lv15"
		walltime="10:00:00"
		queue="normal"
	}
	methylation_calling {
		executor="pbspro"
		procs="2"
		memory="4"
		project="lv15"
		walltime="10:00:00"
		queue="normal"
	}
	methylation_pattern {
		executor="pbspro"
		procs="2"
		memory="16"
		project="lv15"
		walltime="10:00:00"
		queue="normal"
	}
	mergeToAmplicon {
		executor="pbspro"
		procs="1"
		memory="2"
		project="lv15"
		walltime="10:00:00"
		queue="normal"
	}
	mergeToBigTable {
		executor="pbspro"
		procs="1"
		memory="2"
		project="lv15"
		walltime="10:00:00"
		queue="normal"
	}
	mergeToBigTableFullRead {
		executor="pbspro"
		procs="1"
		memory="2"
		project="lv15"
		walltime="10:00:00"
		queue="normal"
	}
	plot_coverage_methylation {
		executor="pbspro"
		procs="1"
		memory="2"
		project="lv15"
		walltime="10:00:00"
		queue="normal"
	}
	metrics {
		executor="pbspro"
		procs="1"
		memory="2"
		project="lv15"
		walltime="1:00:00"
		queue="normal"
	}
}


